*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Playfair Display SC', serif;
    background: white;
}

.wrapper {
    background: darkred;
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: -1px 6px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 6px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 6px 12px 0px rgba(50, 50, 50, 0.75);
}

.header {
    width: 1000px;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.logo {
    width: 300px;
    height: 300px;
}

.logo a {
    text-decoration: none;
}

.right {
    width: 700px;
    height: 300px;
}

.top {
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 38px;
    color: white;
}

.second {
    letter-spacing: 7px;
    text-align: right;
    text-decoration: none;
    text-indent: 15px;
    font-size: 30px;
    color: white;
}

.menu {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu ul li {}


/* Эффект 2: 3D */

nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

.menu a {
    padding: 0 0 10px;
}

.menu a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.menu a:hover::after,
.menu a:focus::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.container {
    background: darkred;
}

#photo_content {
    background: azure;
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
    clear: both;
}

ul#images {
    background: mediumvioletred;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: relative;
}

ul#images li {
    display: block;
    overflow: hidden;
    padding: 0;
    float: left;
    width: 200px;
    height: 150px;
}

.content {
    width: 100%;
    height: auto;
    background: white;
}

.content-block {
    width: 45%;
    height: auto;
    background: white;
}

#info {
    width: 1000px;
    height: 60px;
    clear: both;
}

#license {
    width: 430px;
    height: 60px;
    float: left;
    padding-left: 100px;
}

#license p {
    font-size: 22px;
    color: black;
    text-align: left;
}

.red {
    font-size: 12px;
    color: #aaa;
}

#slogan {
    width: 530px;
    height: 30px;
    font-size: 18px;
    color: #C70000;
    float: right;
    text-align: center;
    padding-top: 30px;
}

.propose {
    background: darkred;
    font-size: 26px;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: -1px;
    text-align: center;
    padding: 1% 0px;
}

.ptext {
    color: black;
    text-align: center;
    line-height: 1.2;
    font-size: 1.2rem;
}

.ptext2 {
    color: black;
    text-indent: 5%;
    font-size: 1.2rem;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    background-color: white;
    border: 0;
    width: 90%;
    margin: auto;
    font-size: 20px;
    color: #911;
    text-align: center;
    line-height: 22px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-indent: 5px;
}

table th,
td {
    padding: 10px 12px;
}

table th {
    background: #900;
    color: white;
}

#clear {
    clear: both;
}

.content img {
    float: right;
}

#footer {
    margin: auto;
    width: 1000px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    clear: both;
}